<body>

  <table id ="table" class="table table-striped">
          <thead>
            <tr>
              <th scope="col">User Name</th>
              <th scope="col">User Email</th>
              <th scope="col">user Password</th>
              <th scope="col">User Role</th>
              <th scope="col">Edit/Deactivate</th>
  
  
            </tr>
          </thead>
          <tbody>
                <tr *ngFor="let list of listArr">
                    <td>{{ list.name }}</td>
                    <td>{{ list.email }}</td>
                    <td>{{ list.password}}</td>
                    <td>{{ list.role}}</td>
                    <td><button (click)="deleteuser(list._id)"  class="">Delete</button></td>
          </tr>
          
          </tbody>
        </table>
  
