
<div class="jumbotron">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-6 offset-md-3">
              <h3> Add Product</h3>
              <form [formGroup]="addproduct" (ngSubmit)="addProducts()">
                  
                  <div class="form-group">
                      <label>Product Name</label>
                      <input type="text" name="pname" formControlName="pname" class="form-control" />
                      <!-- <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">Email is required</div>
                          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                      </div> -->
                  </div>
                  <div class="form-group">
                      <label>Product Description</label>
                      <input type="text" name=" pdescription" formControlName="pdescription" class="form-control" />
                      <!-- <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                          <div *ngIf="f.password.errors.required">Password is required</div>
                          <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                      </div> -->
                  </div>
                  <div class="form-group">
                    <label>Product Cost</label>
                    <input type="number" name="pcost" formControlName="pcost" class="form-control" />
                    <!-- <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div> -->
                </div>
                <div class="form-group">
                    <label>Product Status</label>
                    <input type="text" name="status" formControlName="status" class="form-control" />
                    <!-- <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div> -->
                </div>
                
                  <div class="form-group">
                      <button class="btn btn-primary">Add Product</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>

