
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3> Register</h3>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" name="name" formControlName="name" class="form-control"/>
                        <!-- <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">First Name is required</div>
                        </div> -->
                    </div>
                    
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" name="email" formControlName="email" class="form-control" />
                        <!-- <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div> -->
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="password" formControlName="password" class="form-control" />
                        <!-- <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        </div> -->
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Register</button>
                        &nbsp; &nbsp; &nbsp; &nbsp;
                        <a routerLink='/login'><button class="btn btn-primary">Login</button></a>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
