<body>

<table id ="table" class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Product name</th>
            <th scope="col">Product Description</th>
            <th scope="col">Product Info</th>
            <th scope="col">Product Cost</th>
            <th scope="col">Edit/Delete</th>


          </tr>
        </thead>
        <tbody>
              <tr *ngFor="let list of listArr">
                  <td>{{ list.pname }}</td>
                  <td>{{ list.pdescription }}</td>
                  <td>{{ list.pcost}}</td>
                  <td>{{ list.status}}</td>
       
                  <td><button (click)="deletelist(list._id)"  class="">Delete</button></td>        </tr>
        
        </tbody>
      </table>
